<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Our contacts</title>
    <link rel="stylesheet" href="/resources/css/reset.css" type="text/css">
    <link rel="stylesheet" href="/resources/css/clienSideStyles/main.css" type="text/css">
    <link rel="stylesheet" href="/resources/css/clienSideStyles/ourcontacts.css" type="text/css">

</head>
<body>
<div class="wrapper clearfix">
    <header>
        <ul>
            <li class="home"><a href="/index">HOME</a></li>
            <li><a href="/schemeofrestaurant">Scheme of restaurant</a></li>
            <li><a href="/ourstuff">Our stuff</a></li>
            <li><a href="/ourcontacts">Our contacts</a></li>
            <li><a href="/admin">Admin page</a></li>
        </ul>
    </header>
</div>

<div class="address">
    <h1>Address</h1>
    <div class="infoList">
    <ul>
        <li>Address: Cold street, 28</li>
        <li>Phone number: 459 30 99</li>
        <li>e-mail: bestrestorant@r.com</li>
    </ul>
    <img src="/resources/img/address.JPG">
    </div>

</div>
<footer class="clearfix">
    <div class="footer-bottom">
        <ul>
            <li><span class="genericon genericon-location"></span>Address: Cold street, 28</li>
            <li><span class="genericon genericon-phone"></span>Phone number: 459 30 99</li>
            <li><span class="genericon genericon-mail"></span>e-mail: bestrestorant@r.com</li>
        </ul>
    </div>
</footer>
</body>
</html>