<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
    <script type="text/javascript" src="/resources/js/adminSide/editEmployee.js"></script>
</head>
<body>

<div class="wrapper">
    <form action="#" id="editform">
        <ul>
            <li><input type="file" id="photo"><label for="photo">Photo init</label></li>
            <li><input type="text" id="name"><label for="name">Name init</label></li>
            <li><input type="text" id="surmane"><label for="surmane">Surname init</label></li>
            <li><input type="text" id="birthdate"><label for="birthdate">Birth date init</label></li>
            <li><input type="text" id="position"><label for="position">position init</label></li>
            <li><input type="text" id="salary"><label for="salary">salary init</label></li>
            <li><input type="submit"></li>
        </ul>
    </form>
</div>
</body>
</html>