<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
    <script type="text/javascript" src="/resources/js/jquery.js"></script>

    <link rel="stylesheet" href="/resources/css/reset.css" type="text/css">
    <link rel="stylesheet" href="/resources/css/adminSide/main.css" type="text/css">

</head>
<body>
<div class="wrapper">
    <div class="button"><a href="/admin/menu">Menu</a></div>
    <div class="button"><a href="/admin/dishes">Dishes</a></div>
    <div class="button"><a href="/admin/stuff">Stuff</a></div>
    <div class="button"><a href="/admin/store">Store</a></div>
    <div class="button"><a href="/admin/orders">Orders History</a></div>
    <div class="button"><a href="/logout">Log out</a></div>
</div>
</body>
</html>