<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menus</title>
    <script type="text/javascript" src="/resources/js/jquery.js"></script>
    <script type="text/javascript" src="/resources/js/adminSide/menuAjax.js"></script>
    <link href="/resources/css/reset.css" type="text/css" rel="stylesheet"/>
    <link href="/resources/css/adminSide/header.css" type="text/css" rel="stylesheet"/>
    <link href="/resources/css/adminSide/menu.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<header class="header">
    <ul class="navigation">
        <li><a href="/admin/menu">Menu</a></li>
        <li><a href="/admin/dishes">Dishes</a></li>
        <li><a href="/admin/stuff">Stuff</a></li>
        <li><a href="/admin/store">Store</a></li>
        <li><a href="/admin/orders">Orders History</a></li>
        <li><a href="/logout">Log out</a></li>
    </ul>
</header>
<div class="wrapper">

</div>
</body>
</html>