<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stuff</title>
    <script type="text/javascript" src="/resources/js/jquery.js"></script>
    <script type="text/javascript" src="/resources/js/adminSide/stuffAjax.js"></script>

    <link href="/resources/css/reset.css" type="text/css" rel="stylesheet"/>
    <link href="/resources/css/adminSide/stuff.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<header class="header">
    <ul class="navigation">
        <li><a href="/">Menu</a></li>
        <li><a href="/">Dishes</a></li>
        <li><a href="/">Stuff</a></li>
        <li><a href="/">Store</a></li>
        <li><a href="/">Orders History</a></li>
        <li><a href="/">Log out</a></li>
    </ul>
</header>
    <div class="wrapper clearfix">
</div>
</body>
</html>