<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restaurant</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js"></script>
    <script type="text/javascript" src="/resources/js/dishesAjax.js"></script>
    <link rel="stylesheet" href="/resources/css/reset.css" type="text/css">
    <link rel="stylesheet" href="/resources/css/maincss.css" type="text/css">

</head>
<body>
<div class="wrapper clearfix">
    <header>
        <ul>
            <li class="home"><a href="#">Scheme of restaurant</a></li>
            <li><a href="#">Our stuff</a></li>
            <li><a href="#">Our contacts</a></li>

        </ul>
        <div class="search">

        <form action="">
            <input type="text" name="search..." placeholder="search...">
            <button>search</button>
        </form>
        </div>
    </header>
    <div id="carousel">

    </div>

</div>
   <!-- <figure>
        <figcaption><h1>Scheme of restaurant</h1></figcaption>
        <img src="http://www.biletomsk.ru/_object/shemy-zalov/1131/big/02.10.jpg">
    </figure>
    <a href="/employees">Our staff</a>
    <a href="/dishes">Show Menu</a>
    <form action="/dishes/" method="post">
        <label>Find dish:</label>
        <input type="text" name="dishName"/>
        <input type="submit"/>
    </form>
    <h2>Contacts</h2>
    <p>Address: Cold street, 28</p>
    <p>Phone number: 459 30 99</p>
    <p>e-mail: bestrestorant@r.com</p>-->

</body>
</html>