<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scheme of restaurant</title>
    <link rel="stylesheet" href="/resources/css/reset.css" type="text/css">
    <link rel="stylesheet" href="/resources/css/main.css" type="text/css">
    <link rel="stylesheet" href="/resources/css/schemeofrestaurant.css" type="text/css">
</head>
<body>
<div class="wrapper clearfix">
    <header>
        <ul>
            <li class="home"><a href="/index">HOME</a></li>
            <li><a href="/schemeofrestaurant">Scheme of restaurant</a></li>
            <li><a href="/ourstuff">Our stuff</a></li>
            <li><a href="/ourcontacts">Our contacts</a></li>

        </ul>
    </header>
</div>
<div class="scheme">
    <h1>Scheme Of Restaurant</h1>
    <img src="/resources/img/schema.jpg">
</div>
<div class="menu">

</div>
<footer class="clearfix">
    <div class="footer-bottom">
        <ul>
            <li><span class="genericon genericon-location"></span>Address: Cold street, 28</li>
            <li><span class="genericon genericon-phone"></span>Phone number: 459 30 99</li>
            <li><span class="genericon genericon-mail"></span>e-mail: bestrestorant@r.com</li>
        </ul>
    </div>
</footer>
</body>
</html>