body{
    background: #d8d8d8;
}
.login-form{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    padding: 20px;
    margin: 50px auto;
    width: 400px;
    background: white;
    border: 1px solid black;
}
.input-group{
    margin: 10px 0;
}
.form-actions{
}
.fa{
    width: 13px;
}
.btn{
    margin-left: 17px;
    cursor: pointer;
    line-height: 20px;
    padding: 0 20px;
    background: white;
    border: 1px solid black;
    border-radius: 15px;
}
.btn:hover{
    background: black;
    color: white;

}